<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.5, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.5, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-burp-suite.svg" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <style>
      body{
          font-family: rubik, sans-serif;
      }
      .rounded-circle{
          border-radius: 50%;
          height: 38px;
        aspect-ratio: auto 38 / 38;
        width: 38px;
      }
      .text-decoration-none{
          text-decoration: none;
      }
      .text-decoration-none:hover{
          text-decoration: none;
      }
      .text-gray-700 {
    color: #4f5a65!important;
}
    .text-left {
    text-align: left!important;
}
.ml-2, .mx-2 {
    margin-left: .5rem!important;
}
.d-inline-block {
    display: inline-block!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}


  </style>
  
  
</head>
<body>
  <section class="menu menu2 cid-szbIBmDPmJ" once="menu" id="menu2-d">
    
     
    <% include ./partials/nav %>
   
</section>


<section class="header14 cid-szco9ThQ9j mbr-fullscreen" id="header14-g" style="background-image: linear-gradient(320deg, #6592e6 10%, #256ab4 100%) !important;">

    

    

    <div class="container" style="color: white;">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-4 image-wrapper">
                <img src="assets/images/phone-screenshot-1.png" alt="Mobirise">
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>Multiple assets and tokens supported</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7">Store all your coins and tokens in a single, secure mobile wallet. The app suppports 40 blockchains and 160k+ assets<br></p>
                    <div class="mbr-section-btn mt-3">
                        <a class="btn btn-white display-4" href="https://mobiri.se">Explore
                            all features</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br>

<section class="pt-8 pb-8">
    <div class="container">
    <div class="pb-8">
    <div class="row align-items-center">
    <div class="col-12 col-md text-center text-sm-left mt-2">
    <h3 class="font-weight-bold mb-1">
    Supported assets &amp; blockchains
    </h3>
    <p class="text-gray-700 mb-6 mb-md-0">
    Here's a list of what's currently supported by Trust Wallet
    </p>
    <br><br>
    </div>
    <div class="col-md-auto text-center">
    <a href="/download-page" class="col-12 col-md-auto mb-4 mb-lg-0 mr-2 btn btn-primary downloadapp-native">
    Get Started
    </a>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/bitcoin-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/bitcoin/info/logo.png" alt="BTC">
    <p class="text-left d-inline-block ml-2 text-gray-700">Bitcoin (BTC)</p>
    </span>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/ethereum-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/ethereum/info/logo.png" alt="ETH">
    <p class="text-left d-inline-block ml-2 text-gray-700">Ethereum (ETH)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/binance-coin-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/binance/info/logo.png" alt="BNB">
    <p class="text-left d-inline-block ml-2 text-gray-700">Binance Coin (BNB)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/litecoin-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/litecoin/info/logo.png" alt="LTC">
    <p class="text-left d-inline-block ml-2 text-gray-700">Litecoin (LTC)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/xrp-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/ripple/info/logo.png" alt="XRP">
    <p class="text-left d-inline-block ml-2 text-gray-700">Ripple (XRP)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/polkadot-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/polkadot/info/logo.png" alt="DOT">
    <p class="text-left d-inline-block ml-2 text-gray-700">Polkadot (DOT)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/stellar-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/stellar/info/logo.png" alt="XLM">
    <p class="text-left d-inline-block ml-2 text-gray-700">Stellar (XLM)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/dogecoin-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/doge/info/logo.png" alt="DOGE">
    <p class="text-left d-inline-block ml-2 text-gray-700">Dogecoin (DOGE)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/zcash-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/zcash/info/logo.png" alt="ZEC">
    <p class="text-left d-inline-block ml-2 text-gray-700">Zcash (ZEC)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/smart-chain-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/smartchain/info/logo.png" alt="BNB">
    <p class="text-left d-inline-block ml-2 text-gray-700">Smartchain (BNB)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/dash-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/dash/info/logo.png" alt="DASH">
    <p class="text-left d-inline-block ml-2 text-gray-700">Dash (DASH)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/tron-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/tron/info/logo.png" alt="TRX">
    <p class="text-left d-inline-block ml-2 text-gray-700">TRON (TRX)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/tezos-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/tezos/info/logo.png" alt="XTZ">
    <p class="text-left d-inline-block ml-2 text-gray-700">Tezos (XTZ)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/cosmos-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/cosmos/info/logo.png" alt="ATOM">
    <p class="text-left d-inline-block ml-2 text-gray-700">Cosmos (ATOM)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/bitcoin-cash-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/bitcoincash/info/logo.png" alt="BCH">
    <p class="text-left d-inline-block ml-2 text-gray-700">Bitcoin Cash (BCH)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/ethereum-classic-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/classic/info/logo.png" alt="ETC">
    <p class="text-left d-inline-block ml-2 text-gray-700">Ethereum Classic (ETC)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/nano-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/nano/info/logo.png" alt="NANO">
    <p class="text-left d-inline-block ml-2 text-gray-700">Nano (NANO)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/gochain-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/gochain/info/logo.png" alt="GO">
    <p class="text-left d-inline-block ml-2 text-gray-700">GoChain (GO)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/poa-network-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/poa/info/logo.png" alt="POA">
    <p class="text-left d-inline-block ml-2 text-gray-700">POA Network (POA)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/vechain-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/vechain/info/logo.png" alt="VET">
    <p class="text-left d-inline-block ml-2 text-gray-700">VeChain (VET)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/wanchain-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/wanchain/info/logo.png" alt="WAN">
    <p class="text-left d-inline-block ml-2 text-gray-700">Wanchain (WAN)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/callisto-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/callisto/info/logo.png" alt="CLO">
    <p class="text-left d-inline-block ml-2 text-gray-700">Callisto (CLO)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/kava-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/kava/info/logo.png" alt="KAVA">
    <p class="text-left d-inline-block ml-2 text-gray-700">Kava (KAVA)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/icon-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/icon/info/logo.png" alt="ICX">
    <p class="text-left d-inline-block ml-2 text-gray-700">ICON (ICX)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/tomochain-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/tomochain/info/logo.png" alt="TOMO">
    <p class="text-left d-inline-block ml-2 text-gray-700">TomoChain (TOMO)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/firo-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/firo/info/logo.png" alt="FIRO">
    <p class="text-left d-inline-block ml-2 text-gray-700">Firo (FIRO)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/kin-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/kin/info/logo.png" alt="KIN">
    <p class="text-left d-inline-block ml-2 text-gray-700">Kin (KIN)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/nimiq-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/nimiq/info/logo.png" alt="NIM">
    <p class="text-left d-inline-block ml-2 text-gray-700">Nimiq (NIM)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/thunder-token-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/thundertoken/info/logo.png" alt="TT">
    <p class="text-left d-inline-block ml-2 text-gray-700">Thunder Token (TT)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/aion-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/aion/info/logo.png" alt="AION">
    <p class="text-left d-inline-block ml-2 text-gray-700">Aion (AION)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/theta-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/theta/info/logo.png" alt="THETA">
    <p class="text-left d-inline-block ml-2 text-gray-700">Theta (THETA)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/ontology-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/ontology/info/logo.png" alt="ONT">
    <p class="text-left d-inline-block ml-2 text-gray-700">Ontology (ONT)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/groestlcoin-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/groestlcoin/info/logo.png" alt="GRS">
    <p class="text-left d-inline-block ml-2 text-gray-700">Groestlcoin (GRS)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/qtum-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/qtum/info/logo.png" alt="QTUM">
    <p class="text-left d-inline-block ml-2 text-gray-700">Qtum (QTUM)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/viacoin-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/viacoin/info/logo.png" alt="VIA">
    <p class="text-left d-inline-block ml-2 text-gray-700">Viacoin (VIA)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/iotex-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/iotex/info/logo.png" alt="IOTX">
    <p class="text-left d-inline-block ml-2 text-gray-700">IoTeX (IOTX)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/ravencoin-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/ravencoin/info/logo.png" alt="RVN">
    <p class="text-left d-inline-block ml-2 text-gray-700">Ravencoin (RVN)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/zilliqa-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/zilliqa/info/logo.png" alt="ZIL">
    <p class="text-left d-inline-block ml-2 text-gray-700">Zilliqa (ZIL)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/waves-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/waves/info/logo.png" alt="WAVES">
    <p class="text-left d-inline-block ml-2 text-gray-700">Waves (WAVES)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/aeternity-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/aeternity/info/logo.png" alt="AE">
    <p class="text-left d-inline-block ml-2 text-gray-700">Aeternity (AE)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/nebulas-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/nebulas/info/logo.png" alt="NAS">
    <p class="text-left d-inline-block ml-2 text-gray-700">Nebulas (NAS)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/decred-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/decred/info/logo.png" alt="DCR">
    <p class="text-left d-inline-block ml-2 text-gray-700">Decred (DCR)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/algorand-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/algorand/info/logo.png" alt="ALGO">
    <p class="text-left d-inline-block ml-2 text-gray-700">Algorand (ALGO)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/near-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/near/info/logo.png" alt="NEAR">
    <p class="text-left d-inline-block ml-2 text-gray-700">Near (NEAR)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/digibyte-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/digibyte/info/logo.png" alt="DGB">
    <p class="text-left d-inline-block ml-2 text-gray-700">Digibyte (DGB)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    <div class="d-flex">
    <span class="text-reset text-decoration-none" href="/harmony-wallet">
    <img class="mx-auto d-inline-block rounded-circle" height="38" width="38" src="https://assets.trustwalletapp.com/blockchains/harmony/info/logo.png" alt="ONE">
    <p class="text-left d-inline-block ml-2 text-gray-700">Harmony (ONE)</p>
    </a>
    </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-6 col-xs-12 mb-4">
    
    </div>
    </div>
    </div>
    </section>
<section class="features15 cid-szcuLvUkB4" id="features16-k">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>Multi Cryptocurrency Wallet App </strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Securely carry your favorite cryptocurrencies on your devices with burp Wallet. feel confident your Digital Assets are private and safe.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="https://mobiri.se">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/multiple.png" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-szcuMdZKYu" id="features17-l">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/wallets.png" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Multiple assets and tokens supported</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Our multicoin wallet app supports the main blockchains within the Ethereum ecosystem, and works with any ERC20, BEP2 and ERC721 tokens whilst also providing coverage as a Bitcoin Wallet. We've also recently added support for Binance Smart Chain</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="https://mobiri.se">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info1 cid-szbLq1yT1P" id="info1-9" style="background-image: linear-gradient(320deg, #6592e6 10%, #256ab4 100%) !important;">
    
    
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-2"><strong>From zero to crypto in minutes
                </strong></h3>
                
                <div class="mbr-section-btn"><a class="btn btn-white display-4" href="https://mobiri.se">Create a wallet</a></div>
            </div>
        </div>
    </div>
</section>

<section class="footer1 cid-szbLdCUVy2" once="footers" id="footer1-e">
 
    <% include ./partials/footer %>
   
</section>
<section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/v" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Make your own <a href="https://mobirise.site/y" style="color:#aaa;">web page</a> with Mobirise</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>