<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.5, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.5, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-burp-suite.svg" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>staking</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-szbIBmDPmJ" once="menu" id="menu2-m">
    
    <% include ./partials/nav %>
</section>

<section class="content4 cid-szebw6y8CB" id="content4-o">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>What is Staking coins?</strong>
                </h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">
                    All blockchains have one thing in common: transactions need to get validated. Bitcoin for example does this in a process called mining which is known to use a lot of electricity (Proof-of-Work). There are, though, other consensus mechanisms that are used for validation. Proof-of-Stake (PoS) is one such consensus mechanism that has several variations of its own, as well as some hybrid models. To keep things simple, we will refer to all of these as staking. Coin staking gives currency holders some decision power on the network. By staking coins, you gain the ability to vote and generate an income. It is quite similar to how someone would receive interest for holding money in a bank account or giving it to the bank to invest.
                </h4>
                
            </div>
        </div>
    </div>
</section>

<br><br><br><br>
<section class="features11 cid-szejuuIE8v" id="features12-16">

    
    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong>What are some of the benefits?</strong>
                        </h4>
                        <div class="mbr-text mbr-fonts-style counter-container display-7">
                            <ul>
                                <li>One of the major benefits for staking coins is that it removes the need for continuously purchasing expensive hardware and consuming energy.</li>
                                <li>The system offers guaranteed returns and a predictable source of income unlike the proof-of-work system where coins are rewarded through a mathmatetical process with a low probability of paying out. Another benefit is that the value of your staked coins doesn't depreciate unlike with ASICs and other mining hardware. Staked coins are only affected by market price fluctuations.</li>
                             
                            </ul>
                        </div>
                        <div class="mbr-section-btn mb-4">
                            <a class="btn btn-primary display-4" href="https://mobiri.se">View all our features</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 md-pb">
                <div class="image-wrapper">
                    <img src="assets/images/stake.png" alt="Mobirise">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-szebCuT3ZM" id="features17-q">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/stake2.png" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>How does it work?
                            </strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            The standard methods for staking are usually holding coins in your wallet or locking them in a smart contract (masternodes). Some coins added randomness to the process of staking and voting so that bad players have a hard time manipulating outcomes. The process can be similar to a lottery in which the number of crypto coins you hold is equivalent to holding a given number of lottery tickets. Staking systems can also allow delegation in which each individual delegates their voting rights and earned income to a trusted party. Those delegates then earn all the rewards for block validation and pay their loyal supporters some form of dividends in return for their vote.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="https://mobiri.se">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
<section class="info2 cid-szebLpXLKZ" id="info2-s">
    
    
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="wrapper">
                    <h3 class="mbr-section-title mb-4 mbr-fonts-style display-5">
                        <strong>Mobirise Help</strong>
                    </h3>
                    <p class="mbr-text mb-4 mbr-fonts-style display-4">
                        Visit our Help Center to get started developing websites with Mobirise. Use Help Center to find answers to your questions. Contact us directly at info@site.com</p>
                    <div class="mbr-section-btn">
                        <a class="btn btn-white display-4" href="https://mobiri.se">Visit Help Center</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                        <strong>Mobirise Kit</strong>
                    </h3>
                    <p class="mbr-text mbr-fonts-style mb-4 display-4">
                        Beautiful website blocks, templates and themes help you to start easily. Expand your Mobirise experience with Code Editor, Form Builder and other extensions.</p>
                    <div class="mbr-section-btn">
                        <a class="btn btn-white display-4" href="https://mobiri.se">Buy Mobirise Kit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="footer1 cid-szbLdCUVy2" once="footers" id="footer1-n">

    
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/q" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/t" style="color:#aaa;">Made</a> with Mobirise css website theme</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>